<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ code }} {{ name }}</title>
	{{ head|safe }}
</head>

<body>
	<noscript>
		<meta http-equiv="refresh" content="0; URL=/noscript" />
	</noscript>
	{{ header|safe }}
	<main>
		{% if show_breadcrumbs %}
		{{ breadcrumbs|safe }}
		{% endif %}
		<h1 class="title">{{ code }} — {{ name }}</h1>
		<p>{{ description|safe }}</p>
		{% if show_home or show_search %}
		<hr />
		<div class="center">
			{% if show_home %}
			<a href="/">Return to the home page.</a><br><br>
			{% endif %}
			{% if show_search %}
			<i>Try looking for the updated result by searching:</i>
			<form class="center" action="/search/" method="post">
				<input type="search" name="search" placeholder="Type here to search..." value="{{ query }}" />
				<button>Search</button>
			</form>
			{% endif %}
		</div>
		{% endif %}
	</main>
	{{ footer|safe }}
</body>

</html>