<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    {{ head|safe }}
</head>

<body>
    <noscript>
        <meta http-equiv="refresh" content="0; URL=/noscript" />
    </noscript>
    {{ header|safe }}
    <main>
        {{ breadcrumbs|safe }}
        <h1 class="title">{{ title }}</h1>
        {% if not is_published %}
        <i><b>Unpublished:</b> This article is not published, and can only be viewed by those with permission to see
            it</i>
        {% endif %}
        <hr />
        <div>{{ body|safe }}</div>
        {% if user and user.hasAPermission(Permission.EditArticles, Permission.PreviewArticles) %}
        <hr />
        <p class="center">
            <a href="/articles/{{ id }}/">View as Article</a>
        </p>
        {% endif %}
    </main>
    {{ footer|safe }}
</body>

</html>