area {}

audio {}

img {}

map {}

track {}

video {}

/*mostly taken from w3 schools image gallery tutorial*/
.media-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 6px;
}

.media-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-gallery img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.media-gallery img.media-gallery-four-grid-cells {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
}

.media-gallery img.media-gallery-wide-image {
    grid-column: span 2 / auto;
}