address {}

article {
	position: sticky;
	pointer-events: none;

	.background {
		background-color: var(--light-color);
		filter: brightness(var(--dim-amount));
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		border-radius: 10px;
		pointer-events: auto;

		&:hover {
			filter: brightness(calc(var(--dim-amount) - var(--dim-step)))
		}
	}

	.content {
		pointer-events: none;
		margin: 10px;
	}
}

aside {}

footer {
	width: 100%;
	height: 10%;
	margin: 0px;
	padding: 0px;
	position: relative;
	text-align: center;
	left: 0px;
	right: 0px;

	.background {
		background-color: var(--light-color);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		filter: brightness(var(--dim-amount));
		z-index: -1;
	}

	.content {
		p {
			margin: 0px;
			padding: 10px;
		}
	}
}

/* TODO: Clean */
header {
	width: 100%;
	height: 10%;
	/* margin: 0px; */
	padding: 20px 0 20px 0;
	position: relative;
	text-align: center;
	left: 0px;
	right: 0px;
	top: 0;

	.background {
		background-color: var(--light-color);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		filter: brightness(var(--dim-amount));
		z-index: -1;
	}

	.content {
		& h1 {
			margin: 0px;
			padding: 20px;
            font-size: 100px;
		}

		& nav {
            background-color: green;
            display: flex;
            padding: 23px;
			float: right;

			/*.background {
				background-color: var(--light-color);
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				filter: brightness(var(--dim-amount));
				z-index: -1;
			}*/

			>a {
                text-decoration: none;
                font-size: 22px;
                color: black;
				font-weight: 300;
                font-family: "Raleway", sans-serif;
                display: inline-block;
                text-align: center;
                margin-left: 40px;

				>div {
					transition: transform 0.25s ease;
				}

				&:hover {

					>div {
						font-style: italic;
					}
				}

				&:active {
					font-weight: 500;
				}
			}
		}
	}
}

h1.title {
	text-decoration: underline;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5em;
}

hgroup {}

main {
	margin: 10%;
	min-height: calc(100vh);
}

.breadcrumbs {
	width: 100%;
	height: 10%;
	padding: 20px;
	position: relative;
	text-align: center;
	left: 0px;
	right: 0px;
	top: 0;
	
	.background {
		background-color: var(--light-color);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		filter: brightness(var(--dim-amount));
		z-index: -1;
		border-radius: 10px;
	}
}

nav {}

section {}

search {}