@import "/resources/css/sectioning.css";
@import "/resources/css/text.css";
@import "/resources/css/semantics.css";
@import "/resources/css/media.css";
@import "/resources/css/embedded.css";
@import "/resources/css/demarcating.css";
@import "/resources/css/table.css";
@import "/resources/css/forms.css";
@import "/resources/css/interactive.css";
@import "/resources/css/fonts/fonts.css";

/* Root */
:root {
	--raw-light-color: #F5F5F5;
	--raw-dark-color: #1b1b1b;

	--dim-amount: 0.95;
	--dim-step: 0.15;

	--primary-color: #FF0800;
	--secondary-color: #8DB600;

	--light-color: var(--raw-light-color);
	--dark-color: var(--raw-dark-color);
}
/*
@media (prefers-color-scheme: dark) {
	:root {
		--light-color: var(--raw-dark-color);
		--dark-color: var(--raw-light-color);
	}
}
*/
html {
	font-family: "Afacad", sans-serif;
	font-size: large;
	line-height: 1.75em;
	color: var(--dark-color);
	background-color: var(--light-color);
}

body {
	margin: 0;
	padding: 0;
}