<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/resources/css/styles.css">
	<title>
		Roles
	</title>
	<script src="/resources/js/modules.js" id="modules">
	</script>
</head>

<body>
	<noscript>
		<meta http-equiv='refresh' content='0; URL=/noscript'>
	</noscript>
	<header></header>
	<main>
		<h1 class="title">Roles</h1>
		<p>
			These are all the user roles across the site. They control what a user is able to do and what they are
			labeled as.
		</p>
		<ul>
			{% for role in [root_role] recursive %}
			<li>
				<dfn title="{{ role.description }}"><a href="/roles/{{ role.id }}/">{{ role.label }}</a></dfn>
				<ul>
					{{ loop(role.getChildRoles()) }}
				</ul>
			</li>
			{% endfor %}
		</ul>
		{% if user and user.hasPermission(Permission.ManageRoles) %}
		<hr>
		<a class="center" href="/roles/new/">Create a new role</a>
		{% endif %}
	</main>
	<footer></footer>
</body>

</html>