<!DOCTYPE html>
<html lang="en">

<head>
	<title>Create Role</title>
	{{ head|safe }}
</head>

<body>

	{{ header|safe }}
	<main>
		{{ breadcrumbs|safe }}
		<h1 class="title">Create Role</h1>
		<form action="/roles/" method="post" autocomplete="off" class="create-form">
			<label for="label">Label:</label>
			<input name="label" id="label" type="text" /><br /><br />

			<label for="description">Description:</label>
			<textarea name="description" id="description"></textarea><br /><br />

			<label for="parent">Parent:</label>
			<select name="parent" id="parent">
				{% for other_role in roles %}
				<option value="{{ other_role.id }}" {{ (not (user.hasRole(other_role) or user.overseesRole(other_role))
					and "disabled" ) or "" }} {{ ((parent and parent==other_role ) or (not parent and
					other_role==user.getHighestRole())) and "selected" or "" }}>
					{{ other_role.label }}
				</option>
				{% endfor %}
			</select><br /><br />

			<label for="permissions">Permissions:</label>
			<ul id="permissions">
				{% for permission in permissions %}
				<li>
					<input name="permission-{{ permission.name }}" id="permission-{{ permission.name }}" type="checkbox"
						{{ not user.hasPermission(permission) and "disabled" or "" }} /> <label
						for="permission-{{ permission.name }}">{{ permission.name
						}}</label>
				</li>
				{% endfor %}
			</ul>

			<input type="submit" value="Create Role" />
			<i class="center">You may not see all roles or permissions based on which ones you
				have.</i>
		</form>
	</main>
	{{ footer|safe }}
</body>

</html>