<!DOCTYPE html>
<html lang="en">

<head>
	<title>Role — {{ role.label }}</title>
	{{ head|safe }}
</head>

<body>

	{{ header|safe }}
	<main>
		{{ breadcrumbs|safe }}
		<h1 class="title">Role — {{ role.label }}</h1>
		<h2>Description</h2>
		<p>{{ role.description or "<i>No description provided</i>"|safe }}</p>
		<h2>Information</h2>
		<p>
			{% if parent_role %} Parent role:
			<dfn title="{{ parent_role.description }}"><a href="/roles/{{ parent_role.id }}/">{{ parent_role.label
					}}</a></dfn>
			{% else %} Parent role: <i>None</i>
			{% endif %}
			<br />
			Created on: {{ role.creation_date }}
		</p>
		<h2>Users</h2>
		{% if role.getUsers()|length %}
		<ul>
			{% for user in role.getUsers() %}
			<li><a href="/users/{{ user.id }}/">{{ user.getNameText() }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<i>None</i>
		{% endif %}
		{% if user and user.hasPermission(Permission.ManageRoles) and user.overseesRole(role) %}
		<div class="center">
			<a href="/roles/{{ role.id }}/edit/">Edit Role</a>
		</div>
		{% endif %}
	</main>
	{{ footer|safe }}
</body>

</html>