<!DOCTYPE html>
<html lang="en">

<head>
	<title>Media Gallery</title>
	{{ head|safe }}
</head>

<body>
	<noscript>
		<meta http-equiv="refresh" content="0; URL=/noscript" />
	</noscript>
	{{ header|safe }}
	<main>
		{{ breadcrumbs|safe }}
		<h1 class="title">Media Gallery</h1>
		<ul>
			{% for media in Media.getAll() %}
			<li>
				<a href="/media/{{ media.getEncodedName() }}/">{{ media.title or "<i>Untitled</i>"}}</a>
				<embed src="/media/{{ media.getEncodedName() }}/raw/" />
			</li>
			{% endfor %}
		</ul>
		{% if user and user.hasPermission(Permission.EditMedia) %}
		<a href="/media/new/" class="center">Upload a media file</a>
		{% endif %}
	</main>
	{{ footer|safe }}
</body>

</html>