<!DOCTYPE html>
<html lang="en">

<head>
	<title>Users</title>
	{{ head|safe }}
</head>

<body>

	{{ header|safe }}
	<main>
		{{ breadcrumbs|safe }}
		<h1 class="title">Profile — {{ user.getNameText() }}</h1>
		<h2>Description</h2>
		<p>
			{% if user.description %} {{ user.description }} {% else
			%}
			<i>This profile has no description</i>
			{% endif %}
		</p>
		<hr />
		<h2>Information</h2>
		<p>
			Joined on: {{ user.creation_date }}
			<br />
		</p>
		<h2>Roles</h2>
		<label for="roles">Current roles:</label>
		{% if user.getRoles()|length %}
		<ul id="roles">
			{% for role in user.getRoles() %}
			<li>
				<form class="inline" action="/users/{{ user.id }}/roles/{{ role.id }}/" class="create-form"
					method="delete">
					<a href="/roles/{{ role.id }}/">{{ role.label }}</a>
					{% if calling_user and calling_user.hasPermission(Permission.AssignRoles) and
					calling_user.overseesRole(role) and (calling_user.overseesUser(user) or calling_user
					== user) %}
					<input type="submit" value="Unassign" />
					{% endif %}
				</form>
			</li>
			<br />
			{% endfor %}
		</ul>
		{% else %}
		<i>None</i><br /><br />
		{% endif %} {% if calling_user and calling_user.hasPermission(Permission.AssignRoles) and
		(calling_user.overseesUser(user) or calling_user == user) %}
		<label for="assign-roles">Assign roles:</label>
		<form id="assign-roles" action="/users/{{ user.id }}/roles/" method="patch" class="create-form">
			<select name="role_id">
				<option selected value="" selected>None</option>
				{% for role in roles %}
				<option value="{{ role.id }}" {{ (role in user.getRoles() or not calling_user.overseesRole(role))
					and "disabled" or "" }}>{{ role.label }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Assign" />
		</form>
		{% endif %}
		<br>
		<div class="center">
			<a href="{{ calling_user != user and ('/users/' + user.id|string) or '' }}/settings/">Manage
				Settings</a>
		</div>
	</main>
	{{ footer|safe }}
</body>

</html>