<!DOCTYPE html>
<html lang="en">

<head>
	<title>Teams</title>
	{{ head|safe }}
</head>

<body>
	<noscript>
		<meta http-equiv="refresh" content="0; URL=/noscript" />
	</noscript>
	{{ header|safe }}
	<main>
		{{ breadcrumbs|safe }}
		<h1 class="title">Teams</h1>
		<p>
			This page shows every role on the site that has users, such as team members and associated supporters. This page doesn't show <a href="/roles/">unused roles</a> and <a href="/users/">users who don't have a role</a>.
		</p>
		<ul>
			{% for role in roles %}
            {% if role.getUsers()|length %}
            <li>
                <a href="/roles/{{ role.id }}/">{{ role.label }}</a>:
                <ul>
                    {% for user in role.getUsers() %}
                    <li>
                        <a href="/users/{{ user.id }}/">{{ user.getNameText() }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
		</ul>
		{% if user and user.hasPermission(Permission.ManageRoles) %}
		<hr />
		<p class="center">
			<a href="/roles/new/">Create a new role</a>
		</p>
		{% endif %}
	</main>
	{{ footer|safe }}
</body>

</html>